<html>

<head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <h1>Spotify API Stuff</h1>

    <h3>Find your most played tracks</h3>
    <div id="spotify-top-tracks" class="tableview">
        <button v-on:click="downloadTopTracks">Get your most popular recent tracks</button>
        <select v-model="timeframe">
            <option disabled value="">Please select a timeframe</option>
            <option>short_term</option>
            <option>medium_term</option>
            <option>long_term</option>
          </select>
        
        <ul>
            <li v-for="track in tracks">
                <div style="display: block;">
                    <div>
                        {{ track.track_name }} {{track.artist_name}}
                    </div>
                    <div>
                        <img :src="track.image.url" height="140" width="140">
                    </div>
                    <!-- Make this look less horrifically ugly-->
                    <p>Preview of track</p>
                    <div>
                        <audio controls>
                            <source :src=track.preview_url type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </li>
        </ul>
        <button v-on:click="getMostPopularGenres">Find out the top genres</button>
        <ul>
            <li v-for="genreMap in genres">
                <div>
                    {{genreMap.genreName}} {{genreMap.genreInstances}}
                </div>
            </li>
        </ul>
    </div>

    <script type="module" src="index.js"></script>
    <script type="module" src="./http_help.js"></script>
</body>

</html>