<html>

<head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <h1 class="topTitle">Find out what your top played tracks and genres are on Spotify!</h1>

    <h3 style="text-align: center;">Find your most played tracks</h3>
    <div style="text-align: center;" id="spotify-top-tracks">
        <select class="timerange-dropdown-select" v-model="timeframe">
            <option disabled value="">Please select a timeframe</option>
            <option>short_term</option>
            <option>medium_term</option>
            <option>long_term</option>
        </select>
        <button class="nice-button" v-on:click="downloadTopTracks">Go</button>
        <div v-if="hasFetchedTracks">
            <button class="nice-button" v-on:click="exportToPlaylist">Export playlist to your Spotify</button>
            <div v-if="hasCreatedPlaylist">
                <h3>Playlist created!</h3>
            </div>
        </div>

        <ul class="inline-list">
            <li v-for="track in tracks">
                <div>
                    <div class="track-info-in-list">
                        <p>Track name: {{ track.track_name}}</p>
                        <p>Artist: {{track.artist_name}}</p>
                    </div>

                    <div class="audio-player-in-image">
                        <img :src="track.image.url">
                        <div v-if="track.isPlaying">
                            <button class="play-pause-button" v-on:click="pause(track)">Pause track</button>
                          </div>
                          <div v-else>
                            <button class="play-pause-button" v-on:click="play(track)">Play preview</button>
                          </div>
                    </div> 
                </div>
            </li>
        </ul>
    </div>

    <script type="module" src="index.js"></script>
    <script type="module" src="./http_help.js"></script>
</body>

</html>